@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    
  }

  .nav {
    color: white;
    background-color: #78716b;
  }

  .nav li {
    text-decoration: underline;
  }

  .nav li:hover {
    color: black;
  }

  .theme-dark {
    --background-color-page: #2a2a32;

    --text-color-primary: white;
    --text-color-secondary: gray;
    --text-color-third: yellow;
    --text-color-logo: #ffb235;
    --text-color-muted: #909090;
    --text-color-error: red;
  }
}
